.lookbook-item {
  width: 400px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  overflow: scroll;
}

.lookbook-media {
  position: relative;
}

.lookbook-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 600px;
  object-fit: cover;
}
.lookbook-video {
  width: 400px;
  height: 500px;
}
.mute-button {
  position: absolute;
  bottom: 100px;
  right: 40%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
